<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Резюме</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"/>
    <style>
        body{background: darkgray; padding: 10px 0;}
        .container { max-width: 50%; background: white; padding: 10px;}
    </style>
</head>
<body>
<div class="container">
    <h4 class="text-center"><strong>Резюме</strong><p>на должность Java-стажер</p></h4>
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <dl class="dl-horizontal">
                <dt>ФиО:</dt><dd th:text="${rezume.FIO}" />
                <dt>Дата рождения:</dt><dd th:text="${rezume.DOB}" />
                <dt>Телефон:</dt><dd th:text="${rezume.phone}" />
                <dt>e-mail:</dt><dd th:text="${rezume.email}" />
                <dt>Skype:</dt><dd th:text="${rezume.skype}" />
            </dl></div>
        <div class="col-xs-4 col-md-4">
            <img th:src="@{${rezume.avatar}}" width="100%"/>
        </div>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Цель:</strong></h4>
        <p class="card-text"><p th:text="${rezume.target}" /></p>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Опыт работы:</strong></h4>
        <ol class="card-text">
            <li><p th:text="${rezume.experiences}" /></li>
        </ol>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Образование:</strong></h4>
        <p class="card-text"><p th:text="${rezume.educations}" /></p>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Доп. образ. и курсы:</strong></h4>
        <ol class="card-text">
            <li><p th:text="${rezume.additionalEducations}" /></li>
        </ol>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Навыки:</strong></h4>
        <ol class="card-text">
            <li><p th:text="${rezume.skills}" /></li>
        </ol>
    </div>
    <div class="card card-block">
        <h4 class="card-title"><strong>Примеры моего кода:</strong></h4>
        <div class="card-text">
            <ol class="card-text">
                <li><p th:text="${rezume.examplesCode}" /></li>
            </ol>
        </div>
    </div>
</div>
<!--<p th:text="' role: ' + ${role}" />-->
</body>
</html>